
/*==================================
** General styles
*==================================*/
body {
    color: #5c6b78;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: 'FertigoProRegular', sans-serif;
    font-weight: 700;
}
h1 {
    margin: 0 0 40px 0;
}
h2 {
    margin-bottom: 15px;
}
h3 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 25px;
}
a {
    color: #1a7cc8;
    text-decoration: none;
}
a:hover {
    color: #1ab2ff;
    text-decoration: underline;
}
.box {
    background-color: #ffffff;
    margin: auto;
    padding: 50px;
    border: 1px solid #e9edf0;
    border-radius: 5px;
}
.ck-editor__editable {
    min-height: 400px;
}
table.table thead th,
table.table tbody td {
    vertical-align: middle;
}
table.meta-data {
    font-size: 12px;
    margin-bottom: 40px;
}
table.meta-data td {
    margin: 0;
    padding: 0 10px 0 0;
}
table.meta-data td.data {
    font-weight: 700;
}
table.data-wrapper {
    margin: 40px 0;
}
table.data-wrapper td {
    padding: 10px;
}
table.data-wrapper td.data-label {
    font-weight: 700;
}

/*==================================
** Header styles
*==================================*/
.main-nav {
    font-family: 'FertigoProRegular', sans-serif;
    margin-left: 40px;
}
.main-nav li.nav-item {
    margin-right: 20px;
}
.main-nav li.nav-item a.nav-link {
    color: #5c6b78;
}
.main-nav li.nav-item a.nav-link:hover {
    color: #000000;
}
.default-form {
    background-color: #ffffff;
    padding: 50px;
    width: 600px;
    margin: 0 auto;
    border-radius: 5px;
}
.auth {
    font-size: 13px;
}
.auth li a.btn {
    font-size: 13px;
    margin-top: 8px;
}
.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}
.user-menu {
    font-size: 14px;
}

/*==================================
** Home page styles
*==================================*/
.jumbotron {
    color: #ffffff;
    text-align: center;
    background-image: url("../img/bg.png");
    background-size: cover;
}
.jumbotron .lead {
    font-size: 28px;
}
.jumbotron .lead span {
    color: #a6b8d2;
    font-style: italic;
}
.jumbotron .sub-lead {
    color: #a6b8d2;
}

div.explore-section {
    text-align: center;
    margin-top: 100px;
}
.show-card {
    font-family: 'Open Sans';
    text-align: center;
    background-color: #ffffff;
    margin-top: 40px;
    padding: 30px;
    border: 1px solid #e9edf0;
    border-radius: 5px;
}
.show-card i {
    font-size: 50px;
    margin-bottom: 20px;
}
.show-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.why-section {
    text-align: center;
    margin-top: 100px;
}

/*==================================
** Customer Profile styles
*==================================*/
div.sidebar-section {
    margin-bottom: 70px;
}
div.sidebar-section h4 {
    color: #9bafb9;
    font-size: 14px;
    font-weight: 400;
    font-variant: small-caps;
    margin-bottom: 10px;
}
div.sidebar-section ul.section-nav {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div.sidebar-section ul.section-nav li a i {
    font-size: 22px;
    margin-right: 10px;
}
div.sidebar-section ul.section-nav li a {
    color: #5c6b78;
    padding: 10px 0;
    display: block;
    transition: all 300ms ease-in-out;
}
div.sidebar-section ul.section-nav li a:hover {
    font-weight: 700;
    text-decoration: none;
    /* background-color: #e9ecef; */
    /* padding: 10px 20px; */
    border-radius: 3px;
}
div.accordion div.card {
    margin: 0 0 10px 0;
}
div.accordion div.card div.collapse {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
div.card-header {
    background-color: #f7f8fc;
}
div.card-header h5 {
    margin: 0;
    padding: 0;
    float: left;
}
div.card-header h5 button {
    text-align: left;
    margin: 0;
    padding: 0 10px;
}
div.card-header h5 button span.stage-title {
    color: #5c6b78;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin: 0;
    padding: 0;
}

div.card-header h5 button span.stage-timing {
    color: #a4b7c4;
    font-size: 12px;
    margin: 0;
    padding: 0;
    /*float: right;*/
}
div.card-header h5 button:hover {
    text-decoration: none;
}
div.card-header h5 button:hover span.stage-title {
    color: #1a7cc8;
}
div.card-header span.stage-status {
    font-weight: 700;
    font-variant: small-caps;
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    width: 10px;
    height: 10px;
    float: right;
    border-radius: 25px;
}
div.card-header span.stage-status.stage-status-active {
    background-color: limegreen;
}
div.card-header span.stage-status.stage-status-pending {
    background-color: orange;
}
div.card-header span.stage-status.stage-status-delayed {
    background-color: red;
}
div.card-header span.stage-status.stage-status-completed {
    background-color: darkgrey;
}
div.card-body  {
    margin: 0;
    padding: 30px;
}
div.card-body h5 {
    font-size: 16px;
    font-weight: 400;
}
div.card-body p {
    font-size: 14px;
}

/*==================================
** Freelancer Public Profile styles
*==================================*/
div.freelancer-profile-header {
    margin-bottom: 40px;
}
div.freelancer-profile-header .picture {
    background-color: grey;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
div.freelancer-profile-header h1 {
    font-size: 30px;
    margin: 0 0 5px 0;
    padding: 0;
}
div.freelancer-profile-header p.subtitle {
    color: #959ea9;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0;
}
div.freelancer-profile-header p.location {
    color: #5c6b78;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}
div.secondary-info table {
    font-size: 14px;
    margin: 0 0 15px 0;
    padding: 0;
}
div.secondary-info div.rating i {
    color: rgb(240, 156, 1);
    font-size: 28px;
    margin-bottom: 10px;
}
div.secondary-info div.rating span {
    font-size: 28px;
    font-weight: 700;
    margin-left: 5px;
}
div.secondary-info ul.social-media {
    font-size: 35px;
    margin: 0;
    padding: 0;
}
div.secondary-info ul.social-media li {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
}
div.secondary-info ul.social-media li a {
    color: #5c6b78;
    transition: all 300ms ease-in-out;
}
div.secondary-info ul.social-media li a.fb:hover {
    color: #33508c;
}
div.secondary-info ul.social-media li a.tw:hover {
    color: #2aa3ef;
}
div.secondary-info ul.social-media li a.gh:hover {
    color: #000000;
}
div.secondary-info ul.social-media li a.dr:hover {
    color: #e84f89;
}
div.secondary-info ul.social-media li a.li:hover {
    color: #0d6699;
}
div.freelancer-profile-body div.box {
    margin-bottom: 30px;
    padding: 40px;
}
div.freelancer-profile-body h3 {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
div.freelancer-profile-body p {
    font-size: 14px;
}
div.freelancer-profile-body hr {
    margin-bottom: 25px;
}
div.freelancer-profile-body div.left,
div.freelancer-profile-body div.right {
    margin-top: 10px;
}
div.package {
    margin-bottom: 30px;
}
div.package h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
div.package table {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}
div.package td.bold {
    font-size: 12px;
    font-weight: 700;
    padding-left: 20px;
}
ul.skills {
    margin:  30px 0 0 0;
    padding: 0;
    list-style-type: none;
}
ul.skills li {
    display: inline-block;
    margin: 0 10px 20px 0;
    padding: 0;
}
ul.skills li a {
    color: #5c6b78;
    padding: 5px 20px;
    border: 1px solid #5c6b78;
    border-radius: 25px;
    transition: all 300ms ease-in-out;
}
ul.skills li a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #5c6b78;
}
div.review {
    margin: 30px 0 0 0;
}
div.review-header {
    margin-bottom: 20px;
}
div.review-header img {
    background-color: #5c6b78;
    display: block;
    margin-right: 20px;
    width: 64px;
    height: 64px;
    float: left;
    border-radius: 50px;
}
div.review-header h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 10px 0 0 0;
}
div.review-header p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
div.review-header div.rating {
    text-align: left;
    margin-top: -45px;
    float: right;
}
div.similar-profile {
    margin-bottom: 30px;
}
div.similar-profile a img {
    background-color: #5c6b78;
    display: block;
    margin-right: 20px;
    width: 64px;
    height: 64px;
    float: left;
    border-radius: 50px;
}
div.similar-profile a h4 {
    color: #5c6b78;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 10px 0 0 0;
}
div.similar-profile a:hover h4 {
    color: #1ab2ff;
}
div.similar-profile a p {
    color: #5c6b78;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
div.similar-profile a:hover {
    text-decoration: none;
}

/*==================================
** Package Details Page styles
*==================================*/
div.package-desc h1 {
    float: left;
}
div.specs {
    float: right;
}
div.specs p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
div.specs span {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}
div.freelancer-info a h3,
div.freelancer-info a p {
    color: #5c6b78;
}
div.freelancer-info a:hover h3,
div.freelancer-info a:hover p {
    color: #1a7cc8;
}
div.freelancer-info a:hover {
    text-decoration: none;
}
div.freelancer-info h3 {
    font-size: 18px;
    margin: 10px 0 0 0;
    padding: 0;
}
div.freelancer-info p {
    font-size: 14px;
    margin: 0 0 30px 0;
    padding: 0;
}
div.freelancer-info img {
    background-color: #5c6b78;
    display: block;
    margin: 0 10px 0 0;
    width: 64px;
    height: 64px;
    float: left;
    border-radius: 50px;
}

/*==================================
** Project Details Page styles
*==================================*/
div.project-details h1 {
    margin-bottom: 10px
}
div.project-details p.category {
    color: #b5bcc2;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
div.project-details p.budget {
    color: #9ea6ad;
    font-size: 12px;
    margin: 0 0 30px 0;
    padding: 0;
}
div.project-details p.budget span {
    font-weight: 700;
}
div.customer-info {}
div.customer-info div.box {
    padding: 40px;
}
div.customer-info img.picture {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    float: left;
    border-radius: 50px;
}
div.customer-info h3 {
    font-size: 16px;
    margin: 0;
}
div.customer-info p.location {
    font-size: 12px;
}
div.customer-info p.desc {
    margin: 0;
}

/*==================================
** Hub Page styles
*==================================*/
div.options {
    margin: 80px 0 0 0;
}
div.options div.sidebar h3 {
    color: #959ea9;
    font-size: 16px;
    font-weight: 400;
    font-variant: small-caps;
    margin: 0 0 40px 0;
}
div.options div.sidebar-section {
    margin-bottom: 50px;
}
div.options div.sidebar-section h4 {
    color: #758491;
    font-size: 14px;
    font-weight: 700;
    font-variant: small-caps;
    margin-bottom: 10px;
}
div.options div.sidebar-section ul.section-nav {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div.options div.sidebar-section ul.section-nav li {
    margin: 0 0 10px 0;
    padding: 0;

}
div.options div.sidebar-section ul.section-nav li a {
    color: #9bafb9;
    display: block;
    margin: 0;
    padding: 0;
    transition: color 300ms ease-in-out;
}
div.options div.sidebar-section ul.section-nav li a:hover {
    color: #5c6b78;
    font-weight: 400;
    text-decoration: none;
}
div.box.freelancer-card {
    padding: 20px;
}
div.freelancer-card {
    text-align: center;
    margin: 0 0 30px 0;
}
div.freelancer-card img {
    margin: 0 0 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
div.freelancer-card h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
div.freelancer-card h3 a {
    color: #5c6b78;
}
div.freelancer-card h3 a:hover {
    color: #1a7cc8;
    text-decoration: none;
}
div.freelancer-card p.category {
    color: #9ea6ad;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
div.freelancer-card div.rating i {
    color: rgb(240, 156, 1);
}
div.freelancer-card div.rating span {
    font-weight: 700;
}
div.freelancer-card p.location {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/*==================================
** Messages styles
*==================================*/
div.contacts {
    background-color: #ffffff;
    border: 1px solid #e9edf0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.contact {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #e9edf0;
    cursor: pointer;
}
div.contact:last-child {
    border-bottom: none;
}
div.contact.selected h4,
div.contact:hover h4 {
    color: #1ab2ff;
}
div.contact img {
    width: 40px;
    height: 40px;
    margin: 0 15px 0 0;
    padding: 0;
    float: left;
}
div.contact h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
div.messages {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #e9edf0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.messages-box {
    max-height: 500px;
    overflow: scroll;
}
div.message {
    margin-bottom: 20px;
}
div.message img {
    width: 32px;
    height: 32px;
    border: 1px solid #959ea9;
}
div.message div.message-body {
    font-size: 14px;
    line-height: 22px;
    width: 350px;
    padding: 10px 20px;
    border-radius: 5px;
}
div.message p.timing{
    font-size: 12px;
    clear: both;
}
div.message.sender img {
    margin-left: 10px;
    float: right;
}
div.message.sender div.message-body {
    color: #ffffff;
    background-color: #1a7cc8;
    margin-left: 10px;
    float: right;
}
div.message.sender p.timing {
    text-align: right;
    margin-right: 50px;
}
div.message.receiver img {
    margin-right: 10px;
    float: left;
}
div.message.receiver div.message-body {
    background-color: #e9edf0;
    float: left;
}
div.message.receiver p.timing {
    text-align: left;
    margin-left: 50px;
}
div.send-box {
    margin-top: 10px;
}
div.send-box input[type='text'] {
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 5px 10px;
}

/*==================================
** Footer styles
*==================================*/
.footer {
    margin-top: 60px;
}
.footer h5 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer .list-unstyled li {
    font-size: 12px;
    margin-bottom: 5px;
}
.footer  a {
    color: #a6b8d2;
}
.footer  a:hover {
    color: #ffffff;
    text-decoration: none;
}
.footer-logo {
    width: 150px;
}
.footer .copyright {
    color: #a6b8d2;
}
.footer .social-item {
    font-size: 28px;
    margin-right: 10px;
}
