
/*==================================
** General styles
*==================================*/
body {
    color: #5c6b78;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: 'FertigoProRegular', sans-serif;
    font-weight: 700;
}
h1 {
    margin: 0 0 40px 0;
}
h2 {
    margin-bottom: 15px;
}
h3 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 25px;
}
a {
    color: #1a7cc8;
    text-decoration: none;
}
a:hover {
    color: #1ab2ff;
    text-decoration: underline;
}
.box {
    background-color: #ffffff;
    margin: auto;
    padding: 50px;
    border: 1px solid #e9edf0;
    border-radius: 5px;
}

/*==================================
** Header styles
*==================================*/
.main-nav {
    font-family: 'FertigoProRegular', sans-serif;
    margin-left: 40px;
}
.main-nav li.nav-item {
    margin-right: 20px;
}
.main-nav li.nav-item a.nav-link {
    color: #5c6b78;
}
.main-nav li.nav-item a.nav-link:hover {
    color: #000000;
}
.default-form {
    background-color: #ffffff;
    padding: 50px;
    width: 600px;
    margin: 0 auto;
    border-radius: 5px;
}
.auth {
    font-size: 13px;
}
.auth li a.btn {
    font-size: 13px;
    margin-top: 8px;
}
.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}
.user-menu {
    font-size: 14px;
}

/*==================================
** Home page styles
*==================================*/
.jumbotron {
    color: #ffffff;
    text-align: center;
    background-image: url("../img/bg.png");
    background-size: cover;
}
.jumbotron .lead {
    font-size: 28px;
}
.jumbotron .lead span {
    color: #a6b8d2;
    font-style: italic;
}
.jumbotron .sub-lead {
    color: #a6b8d2;
}

div.explore-section {
    text-align: center;
    margin-top: 100px;
}
.show-card {
    font-family: 'Open Sans';
    text-align: center;
    background-color: #ffffff;
    margin-top: 40px;
    padding: 30px;
    border: 1px solid #e9edf0;
    border-radius: 5px;
}
.show-card i {
    font-size: 50px;
    margin-bottom: 20px;
}
.show-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.why-section {
    text-align: center;
    margin-top: 100px;
}

/*==================================
** Customer Profile styles
*==================================*/
div.sidebar {
    /*background-color: #dadee1;*/
}
div.sidebar-section {
    margin-bottom: 70px;
}
div.sidebar-section h4 {
    color: #9bafb9;
    font-size: 14px;
    font-weight: 400;
    font-variant: small-caps;
    margin-bottom: 10px;
}
div.sidebar-section ul.section-nav {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div.sidebar-section ul.section-nav li {
    /*margin-bottom: 20px;*/
}
div.sidebar-section ul.section-nav li a i {
    font-size: 22px;
    margin-right: 10px;
}
div.sidebar-section ul.section-nav li a {
    color: #5c6b78;
    padding: 10px 0;
    display: block;
    transition: all 300ms ease-in-out;
}
div.sidebar-section ul.section-nav li a:hover {
    font-weight: 700;
    text-decoration: none;
    /* background-color: #e9ecef; */
    /* padding: 10px 20px; */
    border-radius: 3px;
}
p.project-timing {
    font-size: 12px;
}
span.stage-title {
    color: #5c6b78;
    font-size: 18px;
    font-weight: 700;
    display: block;
}
div.card-header h5 {
    float: left;
}
div.card-header h5 button {
    text-align: left;
}
span.stage-timing {
    color: #5c6b78;
    font-size: 12px;
    /*float: right;*/
}
div.card-header {
    background-color: #e9ecef;
}
div.card-header h5 button:hover {
    text-decoration: none;
}
div.card-header h5 button:hover span.stage-title {
    color: #1a7cc8;
}
span.stage-status {
    font-weight: 700;
    font-variant: small-caps;
    display: block;
    margin-top: 27px;
    margin-right: 20px;
    width: 10px;
    height: 10px;
    float: right;
    border-radius: 25px;
}
span.stage-status.stage-status-active {
    background-color: limegreen;
}
span.stage-status.stage-status-pending {
    background-color: orange;
}
span.stage-status.stage-status-delayed {
    background-color: red;
}
span.stage-status.stage-status-completed {
    background-color: darkgrey;
}


/*==================================
** Footer styles
*==================================*/
.footer {
    margin-top: 60px;
}
.footer h5 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer .list-unstyled li {
    font-size: 12px;
    margin-bottom: 5px;
}
.footer  a {
    color: #a6b8d2;
}
.footer  a:hover {
    color: #ffffff;
    text-decoration: none;
}
.footer-logo {
    width: 150px;
}
.footer .copyright {
    color: #a6b8d2;
}
.footer .social-item {
    font-size: 28px;
    margin-right: 10px;
}
