@font-face {
  font-family: 'FertigoProRegular';
  src: url('fertigo-pro-webfont.eot');
  src: url('fertigo-pro-webfont.eot?#iefix') format('embedded-opentype'),
  url('fertigo-pro-webfont.woff') format('woff'),
  url('fertigo-pro-webfont.ttf') format('truetype'),
  url('fertigo-pro-webfont.svg#FertigoProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}